# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
venv/
ENV/

# PyInstaller
build/
dist/
*.spec

# OS junk
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Local user data
profile.json
kanji_stats.json
